In [7]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\fer\anaconda3\lib\site-packages (0.21.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\fer\anaconda3\lib\site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\fer\anaconda3\lib\site-packages (from mlxtend) (1.1.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\fer\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\fer\anaconda3\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: scipy>=1.2.1 in c:\users\fer\anaconda3\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: setuptools in c:\users\fer\anaconda3\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\fer\anaconda3\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: cycler>=0.10 in c:\users\fer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\fer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\fer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\fer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\fer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: six in c:\users\fer\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\fer\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\fer\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)

In [9]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [11]:
data = pd.read_csv("groceries.csv")
data.head()

,Transaction_number,1,2,3,4,5,6,7,8,9
0,1,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN
1,2,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN
2,3,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN
4,5,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN

In [12]:
data.shape

(3090, 10)

In [15]:
#To get the Item names in the columns and each transaction (basket) to the rows.
basket = pd.get_dummies(data)
basket.head(1)

,Transaction_number,1_Instant food products,1_UHT-milk,1_artif. sweetener,1_baby cosmetics,1_bags,1_baking powder,1_bathroom cleaner,1_beef,1_berries,...,9_sweet spreads,9_tea,9_vinegar,9_waffles,9_whipped/sour cream,9_white bread,9_white wine,9_whole milk,9_yogurt,9_zwieback
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
#To create basket sets for all items
basket_sets = basket.drop("Transaction_number", axis = 1)
basket_sets.head(3)

,1_Instant food products,1_UHT-milk,1_artif. sweetener,1_baby cosmetics,1_bags,1_baking powder,1_bathroom cleaner,1_beef,1_berries,1_beverages,...,9_sweet spreads,9_tea,9_vinegar,9_waffles,9_whipped/sour cream,9_white bread,9_white wine,9_whole milk,9_yogurt,9_zwieback
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
#Use Aprioir algorithm to build association rules. Go trough the basket set & extract the results
#to populate a Dataframe. Only number of items => 2% (support = 0.02) of total basket.
apriori(basket_sets, min_support=0.02).head()

C:\Users\Fer\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support itemsets
0  0.030421      (7)
1  0.034951     (17)
2  0.029126     (23)
3  0.049191     (26)
4  0.064401     (47)

In [30]:
#To show item names in the basket sets that are popular the store (=>5%)
#Tail shows 5 itemsets with a total => 5% frequency
apriori(basket_sets, min_support=0.05, use_colnames= True).tail(2)

C:\Users\Fer\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support        itemsets
4  0.062136  (2_whole milk)
5  0.057929  (3_whole milk)

In [32]:
#to show more items (reduce the min support level to 0.2) as well as the lenght of the itemset display.
df = basket_sets
frequent_itemsets = apriori(basket_sets, min_support=0.02, use_colnames=True)
#add a Lenght column to include combinations of all the item sets.
#so use code 'Lambda x:len' go to end fo the datase.
frequent_itemsets['lenght'] = frequent_itemsets['itemsets'].apply(lambda x:len(x))
frequent_itemsets.head()

C:\Users\Fer\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support          itemsets  lenght
0  0.030421          (1_beef)       1
1  0.034951   (1_canned beer)       1
2  0.029126       (1_chicken)       1
3  0.049191  (1_citrus fruit)       1
4  0.064401   (1_frankfurter)       1

In [34]:
#to identify the item sets with a min basket size of 3 items.
frequent_itemsets[frequent_itemsets['lenght'] >=3]

Empty DataFrame
Columns: [support, itemsets, lenght]
Index: []


# Display above shows the most popular combinatios of 3 or more items purchased together